<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/uploadfile" method="POST">
        <input type="text" name="filepath">
        <input type="text" name ='filename'>
        <input type="file" name="files">
        <input type="submit" value="tijiao">
    </form>
    <form action="/point/1310013_0.xml" method="get">
        <input type="submit" value="ddddd">
    </form>

</body>
</html>